<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %> 
  <body>
    <%- include('partials/navbar') %> 
    <h1><%= 'Home Page'.toUpperCase() %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid perspiciatis et architecto molestias cum velit voluptas, vitae ducimus corporis illo error consequatur ullam, quia adipisci assumenda repellendus magnam laboriosam obcaecati!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam unde quasi sed sit. Dicta aperiam itaque, libero ipsa cupiditate sed nulla dolore reprehenderit, mollitia ullam nobis tenetur quo nisi enim.</p>
    <button><a href="/about">About Page</a></button>
    <button><a href="/contact">Contact Page</a></button>
</body>
</html>