<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit Comment</h1>
    <h2><%= comment.username %> </h2>
    <form action="/comments/<%= comment.id %>?_method=PATCH" method="post">
        <textarea name="comment" id="comment" cols="30" rows="10">
            <%= comment.comment %>
        </textarea>
        <br>
        <button>Save</button>
    </form>
    <button><a href="/comments/<%= comment.id %> ">Back</a></button> 
    <br><br>  
    <button><a href="/comments">Return Home</a></button>

</body>
</html>