<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT PAGE</title>
    <style>
        body {
            margin: 0 30px;
            padding: 0;
        }
        h1 {
            text-align: center;
            font-size: 50px;
            color: cadetblue;
        }
        img {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        p {
            font-size: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>WELCOME TO ABOUT</h1>
    <img src="https://images.unsplash.com/photo-1663211479526-516cde69da9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80" alt="risingSun" width="720px" height="460px">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolores accusantium, assumenda reiciendis nesciunt quam minima. Assumenda aliquam doloribus cupiditate!</p>
    <button><a href="/">Home Page</a></button>
</body>
</html>