<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT PAGE</title>
    <style>
        body {
            margin: 0 30px;
            padding: 0;
        }
        h1 {
            text-align: center;
            font-size: 50px;
            color: cadetblue;
        }
    </style>
</head>
<body>
    <h1>WELCOME TO CONTACT</h1>
    <UL>
        <p>CONTACT DETAILS</p>
        <li>HOME PHONE: 9023743873</li>
        <li>CELL PHONE: 0934978327</li>
        <li>BUSINESS PHONE: 09379037234</li>
        <li>EMAIL ADDRESS: jesrielledesma@gmail.com</li>
    </UL>    
    <button><a href="/">Home Page</a></button>
</body>
</html>