<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Number Generator</title>
    <style>
        body {
            margin: 0 30px;
            padding: 0;
        }
        h1 {
            text-align: center;
            font-size: 50px;
            color: cadetblue;
        }
        h2 {
            text-align: center;
            font-size: 40px;
            color:violet;
        }
    </style>
</head>
<body>
    <h1>Your random number is: <%= randomNum %>  </h1>
    <% if (randomNum %2 === 0) { %>
        <h2>The random number is EVEN</h2>
    <% } else { %>
        <h2>The random number is ODD</h2>
    <% } %> 

    <!-- Other way -->
    <h2 style="color:chartreuse;"><%= randomNum%2===0 ? "The number is EVEN" : "The number is ODD"%> </h2>
</body>
</html>