<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Create A Bank Account</h1>
    <form action="/" method="post">
        <label for="username">Enter your username:</label>
        <input type="text" placeholder="Username" name="username" id="username">
        <label for="password">Enter your password:</label>
        <input type="password" placeholder="Password" name="password" id="password">
        <br>
        <button>Create account</button>
    </form>

    
</body>
</html>